* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.navbar {
  background-color: white;
  height: 60px;
  width: 100%;
  box-shadow: 0 0 2px 9px rgb(211, 239, 243);
}

.navbar a {
  float: right;
  color: black;
  text-align: center;
  font-size: 17px;
  padding: 20px 25px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navbar img {
  padding: 10px 10px;
}

.formbox {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: rgb(169, 228, 236);
  padding: 5px;
  border-radius: 30px;
  overflow: hidden;
}
.buttonBox {
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 2px 9px rgb(228, 248, 251);
}

.toggleB {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  position: relative;
  border: 0;
  outline: none;
}
#button {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, rgb(169, 228, 236), whitesmoke);
  border-radius: 30px;
  transition: 0.5s;
}
.inputGrp {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-bottom: 1px solid black;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  outline: none;
  background: transparent;
}
.submitBtn {
  width: 85%;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: white;
  border: 0;
  outline: none;
  border-radius: 30px;
}
.checkBox {
  margin: 30px 10px 30px 0px;
}
span {
  color: rgb(7, 7, 7);
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

#login {
  left: 50px;
}
#register {
  left: 450px;
}
