html, body{
    padding: 0;
    margin: 0;
    background-color: blue;
    
}
body{
    background-color: white;
}
.navbar{
    background-color: white;
    height: 60px;
    width: 100%;
    
}

.navbar a
{
    float: right;
    color: black;
    text-align: center;
    font-size: 17px;
    padding: 20px 25px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar img
{
    padding: 10px 10px;
}

.head
{
    text-align: center;
    font-family: serif;
    color: rgb(8, 8, 8);
}

hr
{
    width: 50%;
}

.car1
{
    vertical-align: middle;
    font-family: serif;
    padding-left: 40px;
    color: rgb(8, 8, 8);
}

.bgimg
{
    margin-left: 190px;
    width: 50%;
    border-radius: 30px;

}

.box1
{
    width: 1290px;
    height: 200px;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    background: rgb(169, 228, 236);
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
}

.box2,.box3
{
    margin-top: 2%;
    width: 1290px;
    height: 200px;
    position: relative;
    margin-left: 2%;
    background:  rgb(169, 228, 236);
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
}


